<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="utf-8" />
    <title>Management</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
 
    <style type="text/css">
	  body {
		padding-bottom: 40px;
	  }
	  .sidebar-nav {
		padding: 9px 0;
	  }
	</style>
 
    @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/spin.js"></script>
    @Styles.Render("~/bundles/bootstrap/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>

    <div class="navbar">
        <div class="navbar-inner">
            <div class="container-fluid">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".top-nav.nav-collapse,.sidebar-nav.nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a class="brand" href="#">                    
                    <span style="width: 146px;height: 65px">Management</span>
                </a>
            
                <!-- user dropdown starts -->

                @Html.Partial("_LoginPartial")
                
                <!-- user dropdown ends -->
            </div>
        </div>
    </div>


    <div class="container-fluid">
        <div class="row-fluid">
            <noscript>
                <div class="alert alert-block span10">
                    <h4 class="alert-heading">Warning!</h4>
                    <p>You need to have <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a> enabled to use this site.</p>
                </div>
            </noscript>

            <div id="content" class="row-fluid">
                <!-- content starts -->
             
                 @RenderBody()

                <!-- content ends -->
            </div>
            <!--/#content.span10-->
        </div>
        <!--/fluid-row-->

        <hr>
 
    </div>
    @Scripts.Render("~/bundles/bootstrap/js")
 
</body>
</html>
