@model Framework.Website.Areas.Admin.Models.LocalPasswordModel

<div class="box-header well" data-original-title>
    <h3><i class="icon-edit"></i>Set New Password</h3>
</div>
<div class="alert alert-info">
    <p>
        You do not have a local password for this site. Add a local
    password so you can log in without an external login.
    </p>
</div>
<div class="box-content">
    @using (Html.BeginForm("Manage", "User"))
    {
        @Html.AntiForgeryToken()
   
        <div class="alert alert-error">
            @Html.ValidationSummary(true)

        </div>
        <fieldset>

            <div class="control-group">
                <label class="control-label">New Password</label>
                <div class="controls">
                    @Html.PasswordFor(model => model.NewPassword, new { @class = "input-xlarge focused" })
                    <span class="help-inline">@Html.ValidationMessageFor(m => m.NewPassword)</span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Confirm Password</label>
                <div class="controls">
                    @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "input-xlarge focused" })
                    <span class="help-inline">@Html.ValidationMessageFor(m => m.ConfirmPassword)</span>
                </div>
            </div>


            <div class="form-actions">
                <button type="submit" class="btn btn-primary">Save</button>
                 <button class="btn">Cancel</button>
            </div>
        </fieldset>
    
   
    }
</div>
@Scripts.Render("~/bundles/jqueryval")

